// Código de Nav acá
h1 {
    font-size: 3.6rem;
}


#nav {
    background-color: @footer-background;
    display: unset;
}

#aDiv {
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: @footer-background;
}

#h1 {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 0 0 0;
    background-color: @footer-background;
}

a {
    font-size: 1.6rem;
    padding: 15px;
    color: @header-font-color;
    font-weight: 600;
}