body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin: 5px;
}

p.danger {
  color: red;
  font-size: 10px;
}

span.danger {
  color: red;
  font-size: 10px;
  margin: 10px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 100px;
  background-color: rgba(255, 204, 204, 0.993);
}

input.danger {
  border: 2px solid red;
}
