.container {
    width: 100%;
    padding: 2rem;
    background-color: #414b50;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoContainer {
    width: 20rem;
    height: 20rem;
    border: 2px solid #343a40;
    overflow: hidden;
    border-radius: 30%;
}

.photo {
    width: 20rem;
    height: auto;
    filter: saturate(0);
    transition: 0.5s;
}

.photo:hover {
    filter: saturate(1);
}